<div id="content_media">
	<div class="row">
		<!-- Pinterest style: 3 columns without clear space between rows -->
		<div class="span2 list1">
		<ul class="thumbnails">
		<% var count = 0; %>
		<% _.each(media.models, function(item) { %>
			<% count++; %>
			<% if(count % 2 == 1) { %>
			<li class="span2">
				<a href="<%= item.get('url') %>" class="thumbnail"><img src="<%= item.get('url') %>"></a>
			</li>
			<% } %>
		<% }); %>
		</ul>
		</div>

		<div class="span2 list2">
		<ul class="thumbnails">
		<% var count = 0; %>
		<% _.each(media.models, function(item) { %>
			<% count++; %>
			<% if(count % 2 == 2) { %>
			<li class="span2">
				<a href="<%= item.get('url') %>" class="thumbnail"><img src="<%= item.get('url') %>"></a>
			</li>
			<% } %>
		<% }); %>
		</ul>
		</div>

		<div class="span2 list3">
		<ul class="thumbnails">
		<% var count = 0; %>
		<% _.each(media.models, function(item) { %>
			<% count++; %>
			<% if(count % 2 == 0) { %>
			<li class="span2">
				<a href="<%= item.get('url') %>" class="thumbnail"><img src="<%= item.get('url') %>"></a>
			</li>
			<% } %>
		<% }); %>
		</ul>
		</div>
	</div>
</div>