<form class="form-inline well">
	Descriptor
	<select name="select_vs_descriptor" id="select_vs_descriptor" class="input-medium">
		<option value="featureAutoColorCorrelogram">Auto Color</option>
		<option value="descriptorScalableColor">Scalable Color</option>
		<option value="featureCEDD" selected="selected">CEDD</option>
		<option value="featureColorHistogram">Color Histogram</option>
		<option value="descriptorColorLayout">Color Layout</option>
		<option value="featureTAMURA">Tamura</option>
		<option value="descriptorEdgeHistogram">Edges</option>
		<option value="featureFCTH">FCTH</option>
		<option value="featureGabor">Gabor</option>
		<option value="featureJCD">JCD</option>
		<option value="featureJpegCoeffs">Jpeg Coeffs</option>
	</select>
	<!-- still need to sort out creation of histograms for: featureSift, featureSurf -->
	Size
	<div class="btn-group" data-toggle="buttons-radio">
	<button type="button" class="btn">All</button>
	<button type="button" class="btn active">Medium</button>
	<button type="button" class="btn">Big</button>
	</div>
</form>
<div id="content_media">
	<div class="row">
		<!-- Pinterest style: 3 columns without clear space between rows -->
		<div class="span2 list1">
		<ul class="thumbnails">
		<% var count = 0; %>
		<% _.each(media.models, function(item) { %>
			<% count++; %>
			<% if(count % 3 == 1) { %>
			<li class="span2">
				<a href="<%= item.get('url') %>" class="thumbnail item"><img src="<%= item.get('url') %>" data-id="<%= item.get('id') %>"></a>
			</li>
			<% } %>
		<% }); %>
		</ul>
		</div>

		<div class="span2 list2">
		<ul class="thumbnails">
		<% var count = 0; %>
		<% _.each(media.models, function(item) { %>
			<% count++; %>
			<% if(count % 3 == 2) { %>
			<li class="span2">
				<a href="<%= item.get('url') %>" class="thumbnail item"><img src="<%= item.get('url') %>" data-id="<%= item.get('id') %>"></a>
			</li>
			<% } %>
		<% }); %>
		</ul>
		</div>

		<div class="span2 list3">
		<ul class="thumbnails">
		<% var count = 0; %>
		<% _.each(media.models, function(item) { %>
			<% count++; %>
			<% if(count % 3 == 0) { %>
			<li class="span2">
				<a href="<%= item.get('url') %>" class="thumbnail item"><img src="<%= item.get('url') %>" data-id="<%= item.get('id') %>"></a>
			</li>
			<% } %>
		<% }); %>
		</ul>
		</div>
	</div>
</div>