<p><a href="<%= permalink %>"><%= title %></a></p>
<h3>Tags</h3>
<div id="content_tags">
	<% _.each(tags.models, function(tag) { %>
	<span class="label" data-id="<%= tag.get('id') %>"><%= tag.get('name') %></span> 
	<% }); %>
</div>
<div id="content_topics"></div>
<div id="content_entities"></div>
<h3>Media</h3>
<div id="content_media">
	<ul class="thumbnails">
	<% _.each(media.models, function(item) { %>
		<li class="span2">
		<a href="<%= item.get('url') %>" class="thumbnail">
		<% if(item.get('type') == 'image') { %>
		<img src="<%= item.get('url') %>">
		<% } else if(item.get('type') == 'video') { %>
		<i class="icon-film"></i>
		<% } %>
		</a>
		</li>
	<% }); %>	
	</ul>
</div>
<h3>Tweets</h3>
<div id="content_tweets"></div>