/* LET'S ROCK */
body {
	font-family: Arial, sans-serif;
	background: #EEE;
	font-size: 0.85em;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Magra', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding: 4px 0;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #555;
}

a:hover {
	text-decoration: underline;
}

button {
	background: lightyellow;
	border: 1px solid lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

.clearer {
	clear: both;
}

.loader {
	background: url(../img/ajax-loader.gif) no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	display: none;
}
/* STRUCTURE */
#admin {
}
	#admin #header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: url(../img/black70.png) top left repeat;
		padding: 10px;
		height: 48px;
	}
	#admin #header #logo h1 a {
		color: #fff;
	}
	#admin #footer {
		position: fixed;
		font-size: 0.8em;
		bottom: 0;
		left: 0;
		width: 100%;
		background: url(../img/black70.png) top left repeat;
		padding: 10px;
		height: 15px;
	}
		#admin #footer li,
		#admin #header li {
			display: inline;
		}
		#admin #header li a {
			font-family: 'Magra', sans-serif;
			background: #AAA;
			display: block;
			padding: 3px 5px;
			margin: 0 5px 0 0;
			float: left;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #header li a:hover {
			text-decoration: none;
			background: lightyellow;
		}
		#admin #footer li {
			color: #aaa;
			margin-right: 10px;
		}
		#admin #footer li a {
			color: #aaa;
		}
		#admin #footer li a:hover {
			color: lightyellow;
		}
	#admin #content {
		padding: 10px;
		margin: 64px 0 0;
	}
		#admin #content #feed_container {
			float: left;
			width: 45%;
			padding: 0 0 45px;
		}
		#admin #content #feed_container #feed_controls {
			float: right;
		}
			#admin #content #feeds {
				margin: 10px 0;
			}
		#admin #content #permalink_container {
			width: 45%;
			position: fixed;
			top: 80px;
			right: 10px;
			border: 1px solid lightgrey;
			padding: 10px;
			display: none;
		}
			#admin #content #permalink_container #permalink_controls {
			}
			#admin #content #permalink_container #permalink_controls button {
				width: 16px;
				height: 16px;
				border: none;
				background: transparent url(../img/sprite.png) no-repeat;
			}
			#admin #content #permalink_container #permalink_controls button.close {
				background-position: -100px 0;
			}
			#admin #content #permalink_content iframe {
				width: 100%;
				height: 350px;
			}
		#admin #content #vocabulary_container {
			float: right;
			width: 45%;
		}
			#admin #content #feed_detail {
				border: 1px solid lightgrey;
				padding: 3px;
				display: none;
			}
			table#feeds_table td {
				padding: 3px;
				border: 1px solid lightgrey;
			}
			table#feeds_table tr.row_selected td {
				background: lightyellow;
			}
			table#feeds_table .odd {
				background: #FFF;
			}
		#admin #content #feed_pagination a {
			display: none;
			padding: 3px;
			border: 1px solid #333;
			background: #333;
			color: #eee;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #content #feed_pagination a:hover {
			background: lightyellow;
			text-decoration: none;
			color: #333;
		}
		#admin #content #feed_pagination a.neighbor {
			display: inline;
			background: #666;
		}
		#admin #content #feed_pagination a.marker {
			display: inline;
		}
		#admin #content #feed_pagination a.selected {
			background: transparent;
			display: inline;
			color: #333;
		}
		#admin #content #vocabulary_detail h1 {
			clear: both;
		}
		#admin #content #vocabulary_detail ul {
			margin: 6px 0;
		}
			#admin #content #feed_content li,
			#admin #content #vocabulary_detail li {
				margin: 6px 0 12px 0;
				float: left;
			}
			#admin #content #vocabulary_detail li.clear {
				float: none;
				clear: both;
			}
			#admin #content #vocabulary_detail li ul {
				padding: 0 10px;
			}
		#admin #content #feed_content li span,
		#admin #content #vocabulary_detail li span {
			background: #fff;
			padding: 3px 5px;
			margin: 0px 3px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			cursor: pointer;
			background: white;
		}
		#admin #content #feed_content li span:hover,
		#admin #content #vocabulary_detail li span:hover {
			background: lightyellow;
		}
			#admin #content #vocabulary_detail li span.parent_over {
				background: lightsalmon;
			}
			#admin #content #vocabulary_detail li span.child_over {
				background: lightskyblue;
			}
			#admin #content #feed_content li span.selected,
			#admin #content #vocabulary_detail li span.selected {
				background: lightgreen;
			}
				#admin.topics #content #vocabulary_detail li.clear {
					float: left;
					clear: none;
				}
				#admin.topics span.size_1, #admin.topics span.size_2, #admin.topics span.size_3 {
					font-size: 0.5em;
				}
				#admin.topics span.size_4, #admin.topics span.size_5, #admin.topics span.size_6 {
					font-size: 1em;
				}
				#admin.topics span.size_7, #admin.topics span.size_8, #admin.topics span.size_9 {
					font-size: 1.5em;
				}
				#admin.topics span.size_10, #admin.topics span.size_11, #admin.topics span.size_12 {
					font-size: 2em;
				}
				#admin.topics span.size_13, #admin.topics span.size_14, #admin.topics span.size_15 {
					font-size: 3em;
				}
		#admin #content #tag_controls,
		#admin #content #tagged_items {
			clear: both;
		}
		#admin #content #feed_content .item {
			padding: 20px;
		}
		#admin #content #feed_content .item.selected {
			background: lightgrey;
		}
			#admin #content #feed_content .item img {
				margin: 0 10px 0 0;
			}
		#admin #content #feed_content .item .item_controls {
			float: right;
		}
		#admin.topics #vocabulary_detail button,
		#admin #content #feed_content .item .item_controls button {
			width: 16px;
			height: 16px;
			border: none;
			margin-left: 2px;
			vertical-align: bottom;
			line-height: 10em;
			background: transparent url(../img/sprite.png) no-repeat;
		}
		#admin.topics #vocabulary_detail button.slide {
			background-position: -100px -120px;
		}
		#admin.topics #vocabulary_detail button.slide.closed {
			background-position: 0px -120px;
		}
		#admin #content #feed_content .item .item_controls button.show_content {
			background-position: -80px -100px;
		}
		#admin #content #feed_content .item .item_controls button.fetch_content {
			background-position: 0px -100px;
		}
		#admin #content #feed_content .item .item_controls button.fetch_entities {
			background-position: -120px -40px;
		}
		#admin #content #feed_content .item .item_controls button.check {
			background-position: -20px 0px;
		}
		#admin #content #feed_content .item .item_controls button.check.selected {
			background-position: 0px 0px;
		}
		#admin #content #feed_content .item .footer {
			font-size: 0.85em;
			padding: 3px;
			margin: 5px 0;
			clear: both;
			border-top: 1px solid lightgrey;
		}