body {
	font-family: Arial, sans-serif;
	background: url(../img/stripe.png) repeat;
	font-size: 0.85em;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Magra', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding: 4px 0;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #555;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
	background: #fff;
	padding: 10px;
	width: 980px;
	margin: 0 auto;
}

.float_box {
	width: 310px;
	float: left;
	margin: 0 10px 0 0;
}

#navigation {
	height: 50px;
}

	#menu_main {
		margin: 5px 0;
		float: left;
	}
	#menu_admin {
		margin: 5px 0;
		float: right;
	}

	#menu_main li, 
	#menu_admin li {
		display: inline;
	}

	#menu_main li a, 
	#menu_admin li a {
		text-decoration: none;
		padding: 3px 5px;
		background: lightgrey;
		border-radius: 5px;
		-moz-border-radius: 5px;
	}

	#menu_main li a:hover, 
	#menu_admin li a:hover {
		background: #ff9900;
	}

#feed_directory article.feed_item_container {
	margin: 0 0 10px;
}
	#feed_directory article.feed_item_container img {
		border: 1px solid #eee;
	}