/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul, ol {
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:focus {
	outline: 0;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* LET'S ROCK */
body {
	font-family: Arial, sans-serif;
	background: #EEE;
	font-size: 0.85em;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Magra', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding: 4px 0;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #555;
}

a:hover {
	text-decoration: underline;
}

/* STRUCTURE */
#admin {
}
	#admin #header {
		background: #000;
		padding: 10px;
		height: 23px;
	}
		#admin #header li {
			display: inline;
		}
		#admin #header li a {
			font-family: 'Magra', sans-serif;
			background: #AAA;
			display: block;
			padding: 3px 5px;
			margin: 0 5px 0 0;
			float: left;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #header li a:hover {
			text-decoration: none;
			background: lightyellow;
		}
	#admin #content {
		padding: 10px;
	}
		#admin #content #feed_container {
			float: left;
			width: 45%;
		}
			#admin #content #feeds {
				margin: 10px 0;
			}
		#admin #content #vocabulary_container {
			float: right;
			width: 45%;
		}
			#admin #content #feed_detail {
				border: 1px solid lightgrey;
				padding: 3px;
				display: none;
			}
			table#feeds_table td {
				padding: 3px;
				border: 1px solid lightgrey;
			}
			table#feeds_table tr.row_selected td {
				background: lightyellow;
			}
			table#feeds_table .odd {
				background: #FFF;
			}
		#admin #content #feed_content ul,
		#admin #content #vocabulary_detail ul {
			margin: 6px 0;
		}
		#admin #content #feed_content li,
		#admin #content #vocabulary_detail li {
			display: inline;
			background: #fff;
			padding: 3px 5px;
			margin: 3px 5px;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #content #vocabulary_detail li:hover {
			background: lightyellow;
		}
			#admin #content #feed_content li,
			#admin #content #vocabulary_detail #root li, 
			#admin #content #vocabulary_detail #children li {
				line-height: 2em;
				cursor: pointer;
			}
			#admin #content #feed_tags li.selected,
			#admin #content #vocabulary_detail li.selected {
				background: lightgreen;
			}
			#admin #content #vocabulary_detail li.parent_over {
				background: lightsalmon;
			}
			#admin #content #vocabulary_detail li.child_over {
				background: lightskyblue;
			}
		#admin #content #feed_content .item {
			padding: 20px;
		}
			#admin #content #feed_content .item img {
				margin: 0 10px 0 0;
			}
		#admin #content #feed_content .item .footer {
			font-size: 0.85em;
			padding: 3px;
			margin: 5px 0;
			clear: both;
			border-top: 1px solid lightgrey;
		}