/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul, ol {
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:focus {
	outline: 0;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* LET'S ROCK */
body {
	font-family: Arial, sans-serif;
	background: #EEE;
	font-size: 0.85em;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Magra', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding: 4px 0;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #555;
}

a:hover {
	text-decoration: underline;
}

button {
	background: lightyellow;
	border: 1px solid lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

.loader {
	background: url(../img/ajax-loader.gif) no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	display: none;
}
/* STRUCTURE */
#admin {
}
	#admin #header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: url(../img/black70.png) top left repeat;
		padding: 10px;
		height: 48px;
	}
	#admin #header #logo h1 a {
		color: #fff;
	}
	#admin #footer {
		position: fixed;
		font-size: 0.8em;
		bottom: 0;
		left: 0;
		width: 100%;
		background: url(../img/black70.png) top left repeat;
		padding: 10px;
		height: 15px;
	}
		#admin #footer li,
		#admin #header li {
			display: inline;
		}
		#admin #header li a {
			font-family: 'Magra', sans-serif;
			background: #AAA;
			display: block;
			padding: 3px 5px;
			margin: 0 5px 0 0;
			float: left;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #header li a:hover {
			text-decoration: none;
			background: lightyellow;
		}
		#admin #footer li {
			color: #aaa;
			margin-right: 10px;
		}
		#admin #footer li a {
			color: #aaa;
		}
		#admin #footer li a:hover {
			color: lightyellow;
		}
	#admin #content {
		padding: 10px;
		margin: 64px 0 0;
	}
		#admin #content #feed_container {
			float: left;
			width: 45%;
			padding: 0 0 45px;
		}
		#admin #content #feed_container #feed_controls {
			float: right;
		}
			#admin #content #feeds {
				margin: 10px 0;
			}
		#admin #content #permalink_container {
			width: 45%;
			position: fixed;
			top: 80px;
			right: 10px;
			border: 1px solid lightgrey;
			padding: 10px;
			display: none;
		}
			#admin #content #permalink_container #permalink_controls {
			}
			#admin #content #permalink_container #permalink_controls button {
				width: 16px;
				height: 16px;
				border: none;
				background: transparent url(../img/sprite.png) no-repeat;
			}
			#admin #content #permalink_container #permalink_controls button.close {
				background-position: -100px 0;
			}
			#admin #content #permalink_content iframe {
				width: 100%;
				height: 350px;
			}
		#admin #content #vocabulary_container {
			float: right;
			width: 45%;
		}
			#admin #content #feed_detail {
				border: 1px solid lightgrey;
				padding: 3px;
				display: none;
			}
			table#feeds_table td {
				padding: 3px;
				border: 1px solid lightgrey;
			}
			table#feeds_table tr.row_selected td {
				background: lightyellow;
			}
			table#feeds_table .odd {
				background: #FFF;
			}
		#admin #content #feed_pagination a {
			display: none;
			padding: 3px;
			border: 1px solid #333;
			background: #333;
			color: #eee;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #content #feed_pagination a:hover {
			background: lightyellow;
			text-decoration: none;
			color: #333;
		}
		#admin #content #feed_pagination a.neighbor {
			display: inline;
			background: #666;
		}
		#admin #content #feed_pagination a.marker {
			display: inline;
		}
		#admin #content #feed_pagination a.selected {
			background: transparent;
			display: inline;
			color: #333;
		}
		#admin #content #feed_content ul,
		#admin #content #vocabulary_detail ul {
			margin: 6px 0;
		}
		#admin #content #feed_content li,
		#admin #content #vocabulary_detail li {
			display: inline;
			background: #fff;
			padding: 3px 5px;
			margin: 3px 5px;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		#admin #content #vocabulary_detail li:hover {
			background: lightyellow;
		}
			#admin #content #feed_content li,
			#admin #content #vocabulary_detail #root li, 
			#admin #content #vocabulary_detail #children li {
				line-height: 2em;
				cursor: pointer;
			}
			#admin #content #feed_tags li.selected,
			#admin #content #vocabulary_detail li.selected {
				background: lightgreen;
			}
			#admin #content #vocabulary_detail li.parent_over {
				background: lightsalmon;
			}
			#admin #content #vocabulary_detail li.child_over {
				background: lightskyblue;
			}
		#admin #content #feed_content .item {
			padding: 20px;
		}
		#admin #content #feed_content .item.selected {
			background: lightgrey;
		}
			#admin #content #feed_content .item img {
				margin: 0 10px 0 0;
			}
		#admin #content #feed_content .item .item_controls {
			float: right;
		}
		#admin #content #feed_content .item .item_controls button {
			width: 16px;
			height: 16px;
			border: none;
			margin-left: 5px;
			line-height: 10em;
			background: transparent url(../img/sprite.png) no-repeat;
		}
		#admin #content #feed_content .item .item_controls button.show_content {
			background-position: -80px -100px;
		}
		#admin #content #feed_content .item .item_controls button.fetch_content {
			background-position: 0px -100px;
		}
		#admin #content #feed_content .item .item_controls button.fetch_entities {
			background-position: -120px -40px;
		}
		#admin #content #feed_content .item .footer {
			font-size: 0.85em;
			padding: 3px;
			margin: 5px 0;
			clear: both;
			border-top: 1px solid lightgrey;
		}