@charset "UTF-8";
* { margin: 0; padding: 0; }
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em; text-align: center; background: #FFF; }

.wrapper { width: 90%; margin: 0 auto; text-align: left; }
.clearer { clear: both; }

table {
	border-bottom: none;
	border-left: none;
	border-top: none;
	margin-bottom: 0;
}
table tr td {
	text-align: left;
	border-right: none;
	padding: 5px 0;
}

#header{
	padding: 0;
	margin: 10px 0;
}
#header h1 {
	background: none;
	color: #333;
	padding: 10px 0 0;
	font-size: 1.4em;
	font-variant: small-caps;
}
#header h1 a {
	color: #003d4c;
	background: #fff;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	text-decoration: underline;
}

#logo { background: url('../images/micc_logo.gif') top left no-repeat; padding: 0 0 0 230px; height: 60px; }


#topmenu {
	background-color: #003d4c;
	color: #fff;
	width: 100%;
	margin: 10px 0;
}

#topmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#topmenu li {
	float: left;
	margin: 0;
	padding: 0;
}

#topmenu a {
	display: block;
	color: #FFF;
	border-right: 1px solid #FFF;
	text-decoration: none;
	margin: 0;
	padding: 6px 6px;
}

#topmenu a:hover {
	background: #FFF;
	color: #003d4c;
}

#content{
	padding: 0;
	margin: 10px 0;
}

#footer {
	clear: both;
	padding: 0;
	margin: 10px 0;
	padding: 10px 0 10px;
	color: #333;
	border-top: 1px solid #003d4c;
	text-align: center;
	font-size: 0.8em;
}

input, textarea { font-size: 1em; font-family: Verdana, Arial, Helvetica, sans-serif; width: 100%; border: 1px solid #AAA; color: #003d4c; }

input.autowidth { width: auto; display: inline;}

form { clear: both; padding: 3px 0 3px 10px; border: 1px solid #AAA; border-width: 0 0 1px 1px; margin: 0.5em 0 1em; width: 80%; }
form div { clear: both; margin-bottom: 0.8em; padding: 0.2em; vertical-align: text-top; }
form div.required { color: #333; font-weight: normal; }
form div.submit { border: 0; clear: both; margin: 10px 0 0; }

.cake-sql-log { width: 90%; margin: 0 auto; }