@(title: String)

<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")">
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/main.css")">

		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
	</head>
	<body>
	<div class="container">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">@title</a>
				</div>
			</div>
		</div>
		<div class="row head-margin">
			<div class="span6">
				<div class="accordion" id="form-group">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#form-extract" data-parent="#form-group" data-toggle="collapse" class="accordion-toggle">Extract entities</a>
						</div>
						<div class="accordion-body collapse" id="form-extract">
							<div class="accordion-inner">
								<form action="/entitiesExtract" class="form-horizontal" method="post">
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="extract-text">Text</label>
											<div class="controls">
												<textarea class="span4" id="extract-text" name="text" rows="6"></textarea>
											</div>
										</div>
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">Extract</button>
											<button class="btn">Cancel</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#form-newindex" data-parent="#form-group" data-toggle="collapse" class="accordion-toggle">Create Index</a>
						</div>
						<div class="accordion-body collapse" id="form-newindex">
							<div class="accordion-inner">
								<form action="/visualIndex" class="form-horizontal" method="post">
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="newindex-name">Name</label>
											<div class="controls">
												<input type="text" class="span4" id="newindex-name" name="name">
											</div>
										</div>
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">Create</button>
											<button class="btn">Cancel</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#form-indeximages" data-parent="#form-group" data-toggle="collapse" class="accordion-toggle">Index Images</a>
						</div>
						<div class="accordion-body collapse" id="form-indeximages">
							<div class="accordion-inner">
								<form action="/visualIndexImages" class="form-horizontal" method="post">
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="">Image list<br>(JSON Format)</label>
											<div class="controls">
												<textarea class="span4" id="imagelist-body" name="body" rows="6"></textarea>
											</div>
										</div>
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">Send</button>
											<button class="btn">Cancel</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div id="response">
					<pre id="response-inner" class="prettyprint linenums"></pre>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>